In [1]:
from DANZEM import utils
from DANZEM import data
from DANZEM import lgp
from DANZEM import offers

utils.SetDir('C:\\Users\\tahjaa\\Documents\\Research\\DANZEM\\DANZEM\\data')

def GetDemand(day):
    df = data.GetLGPFile(day)
    return lgp.ExtractLoadInfo(df)

demand_df = data.GetDataForRange((2013, 1, 1), (2017, 12, 31), GetDemand)
demand_df.head()

               NI Load (MW)  SI Load (MW)
tpid
2013_01_01_01      1632.732      1460.341
2013_01_01_02      1545.807      1431.973
2013_01_01_03      1496.516      1391.765
2013_01_01_04      1470.996      1352.192
2013_01_01_05      1425.607      1326.034

In [2]:
demand_df.shape[0]

87648

In [3]:
def DispatchByIsland(ymd):
    lgp_df = data.GetLGPFile(ymd)
    return offers.GetDispatchByIsland(lgp_df)

dispatch_df = data.GetDataForRange((2013, 1, 1), (2017, 12, 31), DispatchByIsland)
dispatch_df.head()

               NI Dispatch (MW)  SI Dispatch (MW)
tpid
2013_01_01_01          1373.637          1849.510
2013_01_01_02          1326.000          1780.049
2013_01_01_03          1305.000          1699.383
2013_01_01_04          1313.000          1619.004
2013_01_01_05          1264.000          1595.650

In [4]:
dispatch_df.shape[0]

87648

In [5]:
df = demand_df.join(dispatch_df)
df.head()

               NI Load (MW)  SI Load (MW)  NI Dispatch (MW)  SI Dispatch (MW)
tpid
2013_01_01_01      1632.732      1460.341          1373.637          1849.510
2013_01_01_02      1545.807      1431.973          1326.000          1780.049
2013_01_01_03      1496.516      1391.765          1305.000          1699.383
2013_01_01_04      1470.996      1352.192          1313.000          1619.004
2013_01_01_05      1425.607      1326.034          1264.000          1595.650

In [6]:
from DANZEM import periods

import importlib

importlib.reload(data)

tps = periods.GetTPData(df.index[0], df.index[-1])
tps.head()

,dst_begins,dst_ends,is_dst,is_national_holiday,is_observed_holiday,month,time_period,weekday,year
2013_01_01_01,False,False,True,True,True,1,1,1,2013
2013_01_01_02,False,False,True,True,True,1,2,1,2013
2013_01_01_03,False,False,True,True,True,1,3,1,2013
2013_01_01_04,False,False,True,True,True,1,4,1,2013
2013_01_01_05,False,False,True,True,True,1,5,1,2013

In [7]:
tps.tail()

,dst_begins,dst_ends,is_dst,is_national_holiday,is_observed_holiday,month,time_period,weekday,year
2017_12_31_44,False,False,True,False,False,12,44,6,2017
2017_12_31_45,False,False,True,False,False,12,45,6,2017
2017_12_31_46,False,False,True,False,False,12,46,6,2017
2017_12_31_47,False,False,True,False,False,12,47,6,2017
2017_12_31_48,False,False,True,False,False,12,48,6,2017

In [8]:
importlib.reload(utils)

utils.OneHot(tps).head()

,dst_begins=False,dst_begins=True,dst_ends=False,dst_ends=True,is_dst=False,is_dst=True,is_national_holiday=False,is_national_holiday=True,is_observed_holiday=False,is_observed_holiday=True,...,weekday=2,weekday=3,weekday=4,weekday=5,weekday=6,year=2013,year=2014,year=2015,year=2016,year=2017
2013_01_01_01,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2013_01_01_02,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2013_01_01_03,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2013_01_01_04,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2013_01_01_05,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [9]:
tps.shape

(87648, 9)

In [10]:
df.shape

(87648, 4)

In [11]:
#df['is_dst'] = tps['is_dst'].apply(float)
#df.head()

In [12]:
utils.OneHot(tps, ['time_period', 'month'], add_df=df)
df.head()

,NI Load (MW),SI Load (MW),NI Dispatch (MW),SI Dispatch (MW),time_period=1,time_period=2,time_period=3,time_period=4,time_period=5,time_period=6,...,month=3,month=4,month=5,month=6,month=7,month=8,month=9,month=10,month=11,month=12
tpid,,,,,,,,,,,,,,,,,,,,,
2013_01_01_01,1632.732,1460.341,1373.637,1849.510,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013_01_01_02,1545.807,1431.973,1326.000,1780.049,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013_01_01_03,1496.516,1391.765,1305.000,1699.383,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013_01_01_04,1470.996,1352.192,1313.000,1619.004,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2013_01_01_05,1425.607,1326.034,1264.000,1595.650,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
def HVDCFlow(sender_load, sender_gen, rec_load, rec_gen):
    if rec_gen > rec_load:
        return 0.0
    return sender_gen - sender_load

def AddFeatures(df):
    df['Total Load (MW)'] = df['NI Load (MW)'] + df['SI Load (MW)']
    df['Total Dispatch (MW)'] = df['NI Dispatch (MW)'] + df['SI Dispatch (MW)']
    df['Extra Dispatch'] = df['Total Dispatch (MW)'] - df['Total Load (MW)']
    df['Extra Dispatch %'] = 100.0 * df['Extra Dispatch'] / df['Total Load (MW)']
    df['SI-NI HVDC (MW)'] = [HVDCFlow(df['SI Load (MW)'].loc[i], df['SI Dispatch (MW)'].loc[i],
                                      df['NI Load (MW)'].loc[i], df['NI Dispatch (MW)'].loc[i])
                             for i in df.index]
    df['NI-SI HVDC (MW)'] = [HVDCFlow(df['NI Load (MW)'].loc[i], df['NI Dispatch (MW)'].loc[i],
                                      df['SI Load (MW)'].loc[i], df['SI Dispatch (MW)'].loc[i])
                             for i in df.index]
    df['Total HVDC (MW)'] = [max(df['SI-NI HVDC (MW)'].loc[i], df['NI-SI HVDC (MW)'].loc[i])
                             for i in df.index]
    df['HVDC Squared'] = df['Total HVDC (MW)'] * df['Total HVDC (MW)']
    
def Exemplify(df, multiplier, label):
    df['NI Dispatch (MW)'] *= multiplier
    df['SI Dispatch (MW)'] *= multiplier
    df['label'] = label
    df.index = ['%s@%d' % (i, label) for i in df.index]

positive = df.copy()
negative = df.copy()
Exemplify(positive, 1.005, 1.0)
AddFeatures(positive)
Exemplify(negative, 0.995, 0.0)
AddFeatures(negative)

positive.head()

,NI Load (MW),SI Load (MW),NI Dispatch (MW),SI Dispatch (MW),time_period=1,time_period=2,time_period=3,time_period=4,time_period=5,time_period=6,...,month=12,label,Total Load (MW),Total Dispatch (MW),Extra Dispatch,Extra Dispatch %,SI-NI HVDC (MW),NI-SI HVDC (MW),Total HVDC (MW),HVDC Squared
2013_01_01_01@1,1632.732,1460.341,1380.505185,1858.757550,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,3093.073,3239.262735,146.189735,4.726359,398.416550,0.0,398.416550,158735.747314
2013_01_01_02@1,1545.807,1431.973,1332.630000,1788.949245,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,2977.780,3121.579245,143.799245,4.829076,356.976245,0.0,356.976245,127432.039494
2013_01_01_03@1,1496.516,1391.765,1311.525000,1707.879915,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,2888.281,3019.404915,131.123915,4.539860,316.114915,0.0,316.114915,99928.639485
2013_01_01_04@1,1470.996,1352.192,1319.565000,1627.099020,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,2823.188,2946.664020,123.476020,4.373638,274.907020,0.0,274.907020,75573.869645
2013_01_01_05@1,1425.607,1326.034,1270.320000,1603.628250,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,2751.641,2873.948250,122.307250,4.444884,277.594250,0.0,277.594250,77058.567633

In [14]:
negative.head()

,NI Load (MW),SI Load (MW),NI Dispatch (MW),SI Dispatch (MW),time_period=1,time_period=2,time_period=3,time_period=4,time_period=5,time_period=6,...,month=12,label,Total Load (MW),Total Dispatch (MW),Extra Dispatch,Extra Dispatch %,SI-NI HVDC (MW),NI-SI HVDC (MW),Total HVDC (MW),HVDC Squared
2013_01_01_01@0,1632.732,1460.341,1366.768815,1840.262450,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3093.073,3207.031265,113.958265,3.684306,379.921450,0.0,379.921450,144340.308170
2013_01_01_02@0,1545.807,1431.973,1319.370000,1771.148755,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2977.780,3090.518755,112.738755,3.786000,339.175755,0.0,339.175755,115040.192780
2013_01_01_03@0,1496.516,1391.765,1298.475000,1690.886085,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,2888.281,2989.361085,101.080085,3.499662,299.121085,0.0,299.121085,89473.423492
2013_01_01_04@0,1470.996,1352.192,1306.435000,1610.908980,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,2823.188,2917.343980,94.155980,3.335094,258.716980,0.0,258.716980,66934.475740
2013_01_01_05@0,1425.607,1326.034,1257.680000,1587.671750,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,2751.641,2845.351750,93.710750,3.405631,261.637750,0.0,261.637750,68454.312225

In [15]:
import pandas as pd

X = pd.concat([positive, negative])
X.head()

,NI Load (MW),SI Load (MW),NI Dispatch (MW),SI Dispatch (MW),time_period=1,time_period=2,time_period=3,time_period=4,time_period=5,time_period=6,...,month=12,label,Total Load (MW),Total Dispatch (MW),Extra Dispatch,Extra Dispatch %,SI-NI HVDC (MW),NI-SI HVDC (MW),Total HVDC (MW),HVDC Squared
2013_01_01_01@1,1632.732,1460.341,1380.505185,1858.757550,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,3093.073,3239.262735,146.189735,4.726359,398.416550,0.0,398.416550,158735.747314
2013_01_01_02@1,1545.807,1431.973,1332.630000,1788.949245,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,2977.780,3121.579245,143.799245,4.829076,356.976245,0.0,356.976245,127432.039494
2013_01_01_03@1,1496.516,1391.765,1311.525000,1707.879915,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,2888.281,3019.404915,131.123915,4.539860,316.114915,0.0,316.114915,99928.639485
2013_01_01_04@1,1470.996,1352.192,1319.565000,1627.099020,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,2823.188,2946.664020,123.476020,4.373638,274.907020,0.0,274.907020,75573.869645
2013_01_01_05@1,1425.607,1326.034,1270.320000,1603.628250,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,2751.641,2873.948250,122.307250,4.444884,277.594250,0.0,277.594250,77058.567633

In [16]:
X.sort_index(inplace=True)
X.head()

,NI Load (MW),SI Load (MW),NI Dispatch (MW),SI Dispatch (MW),time_period=1,time_period=2,time_period=3,time_period=4,time_period=5,time_period=6,...,month=12,label,Total Load (MW),Total Dispatch (MW),Extra Dispatch,Extra Dispatch %,SI-NI HVDC (MW),NI-SI HVDC (MW),Total HVDC (MW),HVDC Squared
2013_01_01_01@0,1632.732,1460.341,1366.768815,1840.262450,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3093.073,3207.031265,113.958265,3.684306,379.921450,0.0,379.921450,144340.308170
2013_01_01_01@1,1632.732,1460.341,1380.505185,1858.757550,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,3093.073,3239.262735,146.189735,4.726359,398.416550,0.0,398.416550,158735.747314
2013_01_01_02@0,1545.807,1431.973,1319.370000,1771.148755,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2977.780,3090.518755,112.738755,3.786000,339.175755,0.0,339.175755,115040.192780
2013_01_01_02@1,1545.807,1431.973,1332.630000,1788.949245,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,2977.780,3121.579245,143.799245,4.829076,356.976245,0.0,356.976245,127432.039494
2013_01_01_03@0,1496.516,1391.765,1298.475000,1690.886085,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,2888.281,2989.361085,101.080085,3.499662,299.121085,0.0,299.121085,89473.423492

In [17]:
y = X['label']
X.drop('label', axis='columns', inplace=True)
X.head()

,NI Load (MW),SI Load (MW),NI Dispatch (MW),SI Dispatch (MW),time_period=1,time_period=2,time_period=3,time_period=4,time_period=5,time_period=6,...,month=11,month=12,Total Load (MW),Total Dispatch (MW),Extra Dispatch,Extra Dispatch %,SI-NI HVDC (MW),NI-SI HVDC (MW),Total HVDC (MW),HVDC Squared
2013_01_01_01@0,1632.732,1460.341,1366.768815,1840.262450,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3093.073,3207.031265,113.958265,3.684306,379.921450,0.0,379.921450,144340.308170
2013_01_01_01@1,1632.732,1460.341,1380.505185,1858.757550,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3093.073,3239.262735,146.189735,4.726359,398.416550,0.0,398.416550,158735.747314
2013_01_01_02@0,1545.807,1431.973,1319.370000,1771.148755,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2977.780,3090.518755,112.738755,3.786000,339.175755,0.0,339.175755,115040.192780
2013_01_01_02@1,1545.807,1431.973,1332.630000,1788.949245,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2977.780,3121.579245,143.799245,4.829076,356.976245,0.0,356.976245,127432.039494
2013_01_01_03@0,1496.516,1391.765,1298.475000,1690.886085,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,2888.281,2989.361085,101.080085,3.499662,299.121085,0.0,299.121085,89473.423492

In [18]:
y.head()

2013_01_01_01@0    0.0
2013_01_01_01@1    1.0
2013_01_01_02@0    0.0
2013_01_01_02@1    1.0
2013_01_01_03@0    0.0
Name: label, dtype: float64

In [19]:
from sklearn import model_selection
from sklearn import linear_model
from sklearn import preprocessing

scaler = preprocessing.MinMaxScaler()
X = pd.DataFrame(scaler.fit_transform(X),
                 index=X.index,
                 columns=X.columns)

X.head()

,NI Load (MW),SI Load (MW),NI Dispatch (MW),SI Dispatch (MW),time_period=1,time_period=2,time_period=3,time_period=4,time_period=5,time_period=6,...,month=11,month=12,Total Load (MW),Total Dispatch (MW),Extra Dispatch,Extra Dispatch %,SI-NI HVDC (MW),NI-SI HVDC (MW),Total HVDC (MW),HVDC Squared
2013_01_01_01@0,0.116769,0.360922,0.052624,0.485427,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.167164,0.168865,0.209911,0.355233,0.298473,0.0,0.298473,0.089086
2013_01_01_01@1,0.116769,0.360922,0.056811,0.493146,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.167164,0.176611,0.319172,0.525452,0.313003,0.0,0.313003,0.097971
2013_01_01_02@0,0.088021,0.334612,0.038177,0.456582,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.138177,0.140865,0.205777,0.371844,0.266463,0.0,0.266463,0.071002
2013_01_01_02@1,0.088021,0.334612,0.042219,0.464011,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.138177,0.148329,0.311068,0.542230,0.280447,0.0,0.280447,0.078651
2013_01_01_03@0,0.071719,0.297322,0.031808,0.423083,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.115674,0.116555,0.166255,0.325071,0.234995,0.0,0.234995,0.055223

In [20]:
from DANZEM import model

def lr_model_fn(X):
    return linear_model.LogisticRegression()

def sklearn_eval_fn(model_, X, y):
    pred = model_.predict(X)
    return model.Result(model_, pred, y, model_.score(X, y))

def sklearn_train_fn(model_fn, eval_fn, X, y, process_fn=None, verbose=False):
    model_ = model_fn(X)
    model_.fit(X, y)
    return model_, 0.0

C:\Users\tahjaa\Miniconda2\envs\python36\lib\site-packages\h5py\__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [21]:
X.head()

,NI Load (MW),SI Load (MW),NI Dispatch (MW),SI Dispatch (MW),time_period=1,time_period=2,time_period=3,time_period=4,time_period=5,time_period=6,...,month=11,month=12,Total Load (MW),Total Dispatch (MW),Extra Dispatch,Extra Dispatch %,SI-NI HVDC (MW),NI-SI HVDC (MW),Total HVDC (MW),HVDC Squared
2013_01_01_01@0,0.116769,0.360922,0.052624,0.485427,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.167164,0.168865,0.209911,0.355233,0.298473,0.0,0.298473,0.089086
2013_01_01_01@1,0.116769,0.360922,0.056811,0.493146,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.167164,0.176611,0.319172,0.525452,0.313003,0.0,0.313003,0.097971
2013_01_01_02@0,0.088021,0.334612,0.038177,0.456582,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.138177,0.140865,0.205777,0.371844,0.266463,0.0,0.266463,0.071002
2013_01_01_02@1,0.088021,0.334612,0.042219,0.464011,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.138177,0.148329,0.311068,0.542230,0.280447,0.0,0.280447,0.078651
2013_01_01_03@0,0.071719,0.297322,0.031808,0.423083,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.115674,0.116555,0.166255,0.325071,0.234995,0.0,0.234995,0.055223

In [22]:
y.head()

2013_01_01_01@0    0.0
2013_01_01_01@1    1.0
2013_01_01_02@0    0.0
2013_01_01_02@1    1.0
2013_01_01_03@0    0.0
Name: label, dtype: float64

In [23]:
performance, results = model.CrossEvaluate(X, y, lr_model_fn,
                                           train_fn=sklearn_train_fn,
                                           eval_fn=sklearn_eval_fn,
                                           verbose=True)

AttributeError: module 'DANZEM.model' has no attribute 'cross_evaluate'

In [ ]:
folds = model.split_by_year(X)
list(folds)

In [ ]:
X_2014 = X.loc[folds['2014']]
X_2014.head()

In [ ]:
y_pred = results['2014'].model.predict(X_2014)
y_pred

In [25]:
importlib.reload(model)

train_X, train_y, test_X, test_y = model.DefaultTrainValSplitFn(X, y)
train_X.head(20)

,NI Load (MW),SI Load (MW),NI Dispatch (MW),SI Dispatch (MW),time_period=1,time_period=2,time_period=3,time_period=4,time_period=5,time_period=6,...,month=11,month=12,Total Load (MW),Total Dispatch (MW),Extra Dispatch,Extra Dispatch %,SI-NI HVDC (MW),NI-SI HVDC (MW),Total HVDC (MW),HVDC Squared
2013_01_01_01@0,0.116769,0.360922,0.052624,0.485427,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.167164,0.168865,0.209911,0.355233,0.298473,0.0,0.298473,0.089086
2013_01_01_01@1,0.116769,0.360922,0.056811,0.493146,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.167164,0.176611,0.319172,0.525452,0.313003,0.0,0.313003,0.097971
2013_01_01_02@0,0.088021,0.334612,0.038177,0.456582,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.138177,0.140865,0.205777,0.371844,0.266463,0.0,0.266463,0.071002
2013_01_01_02@1,0.088021,0.334612,0.042219,0.464011,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.138177,0.148329,0.311068,0.542230,0.280447,0.0,0.280447,0.078651
2013_01_01_03@0,0.071719,0.297322,0.031808,0.423083,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.115674,0.116555,0.166255,0.325071,0.234995,0.0,0.234995,0.055223
2013_01_01_03@1,0.071719,0.297322,0.035786,0.430176,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.115674,0.123775,0.268100,0.494987,0.248346,0.0,0.248346,0.061676
2013_01_01_04@0,0.063279,0.260620,0.034234,0.389704,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.099308,0.099247,0.142783,0.298189,0.203253,0.0,0.203253,0.041312
2013_01_01_04@1,0.063279,0.260620,0.038236,0.396461,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.099308,0.106294,0.242175,0.467835,0.215972,0.0,0.215972,0.046644
2013_01_01_05@0,0.048267,0.236360,0.019374,0.380006,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.081319,0.081946,0.141274,0.309711,0.205547,0.0,0.205547,0.042250
2013_01_01_05@1,0.048267,0.236360,0.023227,0.386666,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.081319,0.088819,0.238213,0.479473,0.218083,0.0,0.218083,0.047560
2013_01_01_06@0,0.035764,0.214946,0.019374,0.352610,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.066009,0.066172,0.125182,0.293482,0.172118,0.0,0.172118,0.029624
2013_01_01_06@1,0.035764,0.214946,0.023227,0.358994,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.066009,0.072885,0.219884,0.463081,0.184135,0.0,0.184135,0.033906
2013_01_01_07@0,0.032451,0.204530,0.019677,0.342020,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.060667,0.060313,0.114570,0.278625,0.161007,0.0,0.161007,0.025923
2013_01_01_07@1,0.032451,0.204530,0.023533,0.348298,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.060667,0.066968,0.208442,0.448074,0.172824,0.0,0.172824,0.029868
2013_01_01_08@0,0.014182,0.195574,0.019677,0.313755,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.044351,0.044038,0.104974,0.273958,0.115388,0.0,0.115388,0.013314
2013_01_01_08@1,0.014182,0.195574,0.023533,0.319749,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.044351,0.050529,0.196539,0.443360,0.126670,0.0,0.126670,0.016045
2013_01_01_09@0,0.013929,0.197248,0.019677,0.313908,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.044612,0.044126,0.102697,0.269539,0.114258,0.0,0.114258,0.013055
2013_01_01_09@1,0.013929,0.197248,0.023533,0.319903,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.044612,0.050618,0.194274,0.438897,0.125543,0.0,0.125543,0.015761
2013_01_01_10@0,0.014845,0.208713,0.021194,0.317541,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.048417,0.047413,0.097768,0.257497,0.111385,0.0,0.111385,0.012407
2013_01_01_10@1,0.014845,0.208713,0.025065,0.323573,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.048417,0.053939,0.189812,0.426734,0.122739,0.0,0.122739,0.015065

In [26]:
train_X.shape

(140164, 74)

In [27]:
test_X.shape

(35132, 74)

In [28]:
X.shape

(175296, 74)

In [35]:
importlib.reload(model)
importlib.reload(data)

model_fn = model.MakeNN([30, 20, 10, 5], loss='log_loss', reg_strength=0.00001)

performance, results = model.CrossEvaluate(X, y, model_fn,
                                           loss='log_loss',
                                           metrics=['accuracy'],
                                           model_type = model.KERAS,
                                           max_val_stagnation_epochs=6,
                                           verbose=True)

Cross evaluating model...
Evaluating on fold '2013'...
Before epoch 1: training loss = 0.69315, validation loss = 0.69315
Epoch 1: training loss = 0.19350, validation loss = 0.21632
Epoch 2: training loss = 0.12506, validation loss = 0.14865
Epoch 3: training loss = 0.11088, validation loss = 0.14155
Epoch 4: training loss = 0.10188, validation loss = 0.13197
Epoch 5: training loss = 0.09785, validation loss = 0.12659
Epoch 6: training loss = 0.09577, validation loss = 0.12674
Epoch 7: training loss = 0.09873, validation loss = 0.13396
Epoch 8: training loss = 0.09010, validation loss = 0.12368
Epoch 9: training loss = 0.08559, validation loss = 0.11734
Epoch 10: training loss = 0.08322, validation loss = 0.11771
Epoch 11: training loss = 0.08172, validation loss = 0.11772
Epoch 12: training loss = 0.07713, validation loss = 0.11174
Epoch 13: training loss = 0.08603, validation loss = 0.12602
Epoch 14: training loss = 0.07844, validation loss = 0.11470
Epoch 15: training loss = 0.07366, validation loss = 0.10802
Epoch 16: training loss = 0.07762, validation loss = 0.11340
Epoch 17: training loss = 0.07577, validation loss = 0.10764
Epoch 18: training loss = 0.07232, validation loss = 0.11147
Epoch 19: training loss = 0.07220, validation loss = 0.11174
Epoch 20: training loss = 0.06931, validation loss = 0.10613
Epoch 21: training loss = 0.07086, validation loss = 0.10958
Epoch 22: training loss = 0.06959, validation loss = 0.10854
Epoch 23: training loss = 0.07280, validation loss = 0.11655
Epoch 24: training loss = 0.06787, validation loss = 0.10869
Epoch 25: training loss = 0.06861, validation loss = 0.10636
Epoch 26: training loss = 0.07114, validation loss = 0.11276
Best loss: 0.10613
Score on fold '2013': 0.25646
accuracy: 0.90913
Evaluating on fold '2014'...
Before epoch 1: training loss = 0.69315, validation loss = 0.69315
Epoch 1: training loss = 0.19077, validation loss = 0.19905
Epoch 2: training loss = 0.12301, validation loss = 0.13857
Epoch 3: training loss = 0.11542, validation loss = 0.13460
Epoch 4: training loss = 0.11494, validation loss = 0.13437
Epoch 5: training loss = 0.10894, validation loss = 0.13526
Epoch 6: training loss = 0.10470, validation loss = 0.13025
Epoch 7: training loss = 0.10253, validation loss = 0.12421
Epoch 8: training loss = 0.09996, validation loss = 0.12476
Epoch 9: training loss = 0.10167, validation loss = 0.12701
Epoch 10: training loss = 0.10103, validation loss = 0.12115
Epoch 11: training loss = 0.10085, validation loss = 0.12207
Epoch 12: training loss = 0.09890, validation loss = 0.12705
Epoch 13: training loss = 0.09618, validation loss = 0.12421
Epoch 14: training loss = 0.08985, validation loss = 0.12129
Epoch 15: training loss = 0.10627, validation loss = 0.13116
Epoch 16: training loss = 0.09090, validation loss = 0.11948
Epoch 17: training loss = 0.09112, validation loss = 0.12556
Epoch 18: training loss = 0.08881, validation loss = 0.11897
Epoch 19: training loss = 0.08861, validation loss = 0.12411
Epoch 20: training loss = 0.08521, validation loss = 0.11549
Epoch 21: training loss = 0.08418, validation loss = 0.11663
Epoch 22: training loss = 0.08797, validation loss = 0.12584
Epoch 23: training loss = 0.08622, validation loss = 0.11996
Epoch 24: training loss = 0.08000, validation loss = 0.11370
Epoch 25: training loss = 0.08028, validation loss = 0.11807
Epoch 26: training loss = 0.09020, validation loss = 0.13164
Epoch 27: training loss = 0.08424, validation loss = 0.12884
Epoch 28: training loss = 0.07986, validation loss = 0.11857
Epoch 29: training loss = 0.07700, validation loss = 0.11594
Epoch 30: training loss = 0.08511, validation loss = 0.13710
Best loss: 0.11370
Score on fold '2014': 0.12743
accuracy: 0.94743
Evaluating on fold '2015'...
Before epoch 1: training loss = 0.69315, validation loss = 0.69315
Epoch 1: training loss = 0.69319, validation loss = 0.69319
Epoch 2: training loss = 0.69315, validation loss = 0.69315
Epoch 3: training loss = 0.69317, validation loss = 0.69317
Epoch 4: training loss = 0.69320, validation loss = 0.69320
Epoch 5: training loss = 0.69315, validation loss = 0.69315
Before epoch 1: training loss = 0.69315, validation loss = 0.69315
Epoch 1: training loss = 0.69316, validation loss = 0.69316
Epoch 2: training loss = 0.69320, validation loss = 0.69320
Epoch 3: training loss = 0.69315, validation loss = 0.69315
Epoch 4: training loss = 0.69316, validation loss = 0.69316

KeyboardInterrupt: